 <article id="post-278" class="post-278 page type-page status-publish has-post-thumbnail hentry">
    <header class="entry-header">
        <h1>
            {% if page.lang == 'pl' %}Zdjęcia o wysokiej rozdzielczości{% else %}High resolution photos{% endif %}
        </h1>
    </header>
</article>


 <div class="portfolio-projects" id="portfolio-projects">
 <div class="portfolio-wrapper" id="main">



<article id="post-1" class="hires jetpack-portfolio type-jetpack-portfolio status-publish format-standard has-post-thumbnail hentry jetpack-portfolio-type-abandoned jetpack-portfolio-tag-books jetpack-portfolio-tag-papers" >

     <div class="post-thumbnail">
         <img data-original="/p/i/g/high-resolution/high-resolution-1-mini.jpg"
              src="/p/i/g/high-resolution/high-resolution-1-mini.jpg"

              width="400"
              height="600"
              class="portfolio-featured-image"
              alt="{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}"
              title="{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}"
              style="display: inline;"
         >
     </div><!-- .post-thumbnail -->


     <div class="project-archive-content">
         <div class="project-archive-content-wrapper">
             <header class="entry-header">
                 <h2 class="entry-title">
                     <a href="/p/i/g/high-resolution/high-resolution-1.jpg" target="_blank" rel="bookmark">{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}</a>
                 </h2>
             </header>
             <div class="entry-meta">
                 <span class="cat-links">
                     4000 x 6000 px<br/>
                     19.6 MB
                 </span>
             </div><!-- .entry-meta -->
         </div><!-- .project-archive-content-wrap -->
     </div><!-- .project-archive-content -->

</article>

<article id="post-2" class="hires jetpack-portfolio type-jetpack-portfolio status-publish format-standard has-post-thumbnail hentry jetpack-portfolio-type-abandoned jetpack-portfolio-tag-books jetpack-portfolio-tag-papers" >

     <div class="post-thumbnail">
         <img data-original="/p/i/g/high-resolution/high-resolution-2-mini.jpg"
              src="/p/i/g/high-resolution/high-resolution-2-mini.jpg"

              width="400"
              height="600"
              class="portfolio-featured-image"
              alt="{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}"
              title="{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}"
              style="display: inline;"
         >
     </div><!-- .post-thumbnail -->


     <div class="project-archive-content">
         <div class="project-archive-content-wrapper">
             <header class="entry-header">
                 <h2 class="entry-title">
                     <a href="/p/i/g/high-resolution/high-resolution-2.jpg" target="_blank" rel="bookmark">{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}</a>
                 </h2>
             </header>
             <div class="entry-meta">
                 <span class="cat-links">
                     1795 x 2409 px</br>
                     1.73 MB
                 </span>
             </div><!-- .entry-meta -->
         </div><!-- .project-archive-content-wrap -->
     </div><!-- .project-archive-content -->

</article><!-- #post-2 -->

<article id="post-3" class="hires jetpack-portfolio type-jetpack-portfolio status-publish format-standard has-post-thumbnail hentry jetpack-portfolio-type-abandoned jetpack-portfolio-tag-books jetpack-portfolio-tag-papers" >

     <div class="post-thumbnail">
         <img data-original="/p/i/g/high-resolution/high-resolution-3-mini.jpg"
              src="/p/i/g/high-resolution/high-resolution-3-mini.jpg"

              width="400"
              height="600"
              class="portfolio-featured-image"
              alt="{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}"
              title="{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}"
              style="display: inline;"
         >
     </div><!-- .post-thumbnail -->


     <div class="project-archive-content">
         <div class="project-archive-content-wrapper">
             <header class="entry-header">
                 <h2 class="entry-title">
                     <a href="/p/i/g/high-resolution/high-resolution-3.jpg" target="_blank" rel="bookmark">{% if page.lang == 'pl' %}Zdjęcie o wysokiej rozdzielczości{% else %}High resolution photo{% endif %}</a>
                 </h2>
             </header>
             <div class="entry-meta">
                 <span class="cat-links">
                     1795 x 2409 px</br>
                     1.76 MB
                 </span>
             </div><!-- .entry-meta -->
         </div><!-- .project-archive-content-wrap -->
     </div><!-- .project-archive-content -->

</article><!-- #post-3 -->


 </div>
 </div>