<!DOCTYPE html>
<html lang="{% if page.lang == 'pl' %}pl{% else %}en{% endif %}">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="viewport"    content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if page.lang == 'pl' %}{{ site.description_pl }}{% else %}{{ site.description_en }}{% endif %}">
  <meta name="author"      content="{{ site.author }}">  

  <meta property="og:locale"    content="{% if page.lang == 'pl' %}pl_PL{% else %}en_US{% endif %}" />
  <meta property="og:site_name" content="{% if page.lang == 'pl' %}{{ site.og_site_name_pl }}{% else %}{{ site.og_site_name_en }}{% endif %}" />      

  <link rel="stylesheet" href="/p/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/p/css/style.css" />

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800&amp;subset=latin,latin-ext" />    
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script:400&amp;subset=latin,latin-ext"   />

  <link rel="shortcut icon" href="favicon.ico" />

  <link rel="author"    href="{{ site.social.gplus }}" />
  <link rel="publisher" href="{{ site.social.gplus }}" />

  <!--[if lt IE 9]>
    <script src="/p/js/html5shiv.js"></script>
  <![endif]-->  
  
</head>
<body>
<center><h1 class="logo round"><a href="/">{{ page.title }}</a></h1></center> 
{% include footer.html %}