{% include html-header.html %}

<div id="page" class="site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

{% include content-menu.html %}

    <div id="content" class="site-content">
        <div class="wrap">
            <div id="primary" class="content-area">
                <main class="site-main" role="main">

{{ content }}

                </main><!-- #main -->
            </div><!-- #primary -->
        </div><!-- .wrap -->
    </div><!-- #content -->

{% include content-footer.html %}

</div><!-- #page -->

{% include html-footer.html %}